<h1>Organizations</h1>
<ul class='list-graphical group'>
<% for (var o  in orgs) { %>
  <li><a <% if(everyauth.user && everyauth.user.affiliation._id == orgs[o]._id) {%>class='self'<%}%> href='<%= baseurl %>/orgs/<%= orgs[o].slug %>'>
<%= (orgs[o].name ? orgs[o].name : "Unknown affiliation") %> (<%= orgs[o].employees.slice(0).length %>)</a></li>
<% } %>
</ul>