<h1>Organizations</h1>
<ul>
<% for (var o  in orgs) { %>
  <li><a <% if(everyauth.user && orgs[i].affiliation._id == orgs[i]._id) {%>class='self'<%}%>' href='/orgs/<%= orgs[o].w3cId %>'>
<%= orgs[o].name %></a></li>
<% } %>
</ul>