<h1><%= org.name %></h1>

<h2>Employees on site</h2>
<ul>
<% if ("undefined" !== typeof org.employees) {
while(e=org.employees.shift()) {
%>
<li><a href="/people/<%= e.w3cId%>"><%= e.given + " " + e.family %></li>
<%}
}%>
</ul>