<%- messages()%>

<h2>Registrants</h2>
<% if (everyauth.loggedIn) {%>
<form action='' method='post'>
<input type='submit' name='peopleUpdate' value='Update list of registrants' />
</form>
<% } else {%>
<p><a href='<%= baseurl %>/login'>Log in</a> to update list of registrants.</p>
<%}%>

<h2>Places</h2>
<form action='' method='post'>
<input type='submit' name='placesUpdate' value='Update list of pre-defined rooms'>
</form>

<form action='' method='post'>
<p><label>Shortname: <input placeholder="Shortname used for checkin" pattern="[0-9a-z]+" type='text' name="shortname" > (only letters and numbers, no spaces)</label></p>
<p><label>Name: <input type="text" placeholder="Human readable name of the place to create" name="name"></label></p>
<input type='submit' name='placeAdd' value='Add to list of places' />
</form>

<h2>Schedule</h2>
<form action='' method='post'>
<p><label>URI of JSON schedule: <input type="url" name="schedule"></label></p>
<p><input type="submit" name="updateSchedule"></p>
</form>

<h2>Events</h2>
<h3>Add new event</h3>
<form action='' method='post'>
<p><label>Name: <input name="name"></label></p>
<p><label>Day: <select name='day'><option>Monday</option><option>Tuesday</option><option>Wednesday</option><option>Thursday</option><option>Friday</option></select></label>
<p><label>Time start: <input name="start" placeholder="HH:MM"></label> (US Pacific Time)</p>
<p><label>Time end: <input name="end" placeholder="HH:MM"></label> (US Pacific Time)</p>
<p><label>Room: <select name='room'><option>Unknown</option>
<% for (var p  in places) { %> 
  <option value="<%= places[p].shortname %>"><%= places[p].name %></option>
<% } %>
</select></label></p>

</label></p>
<p><label>Confidentiality: <select name="confidentiality"><option>public</option><option value="member">W3C Member-only</option></select></label></p>
<p><label>Observers: <select name="observers"><option value="chairs">Allowed, to the Chairs discretion</option><option value="no">Not allowed</option></select></label></p>
<p><input value="Add a new event" type="submit" name="addEvent"></p>
</form>

<h3>Update existing event</h3>