<%- messages()%>

<h2>Registrants</h2>
<form action='' method='post'>
<input type='submit' name='peopleUpdate' value='Update list of registrants' />
</form>

<h2>Places</h2>
<form action='' method='post'>
<input type='submit' name='placesUpdate' value='Update list of pre-defined rooms'>
</form>

<% if (typeof placeAddition !== 'undefined') {%>
<p>New place added: <%= placeAddition.name %></p>
<% }%>
<form action='' method='post'>
<p><label>Shortname: <input placeholder="Shortname used for checkin" pattern="[0-9a-z]+" type='text' name="shortname" > (only letters and numbers, no spaces)</label></p>
<p><label>Name: <input type="text" placeholder="Human readable name of the place to create" name="name"></label></p>
<input type='submit' name='placeAdd' value='Add to list of places' />
</form>
