<ul class='peopleList'>
<% for (var p  in people) { %>
  <li><a <% if(everyauth.user && people[p].login == everyauth.user.login) {%>class='me'<%}%> href='/people/<%= people[p].w3cId %>'>
<% if (people[p].picture_thumb) { %>
<img src="<%=people[p].picture_thumb%>" alt="Picture of <%= people[p].given + " " + people[p].family %>">
<%}%>
<%= people[p].given + " " + people[p].family %></a></li>
<% } %>
</ul>