body {
	padding-top: 40px;
}

.blue-grad {
	color:whitesmoke;
	background-color: #0A5495;
	background-image: -moz-linear-gradient(top,#0A5495,#094F8C);
	background-image: -ms-linear-gradient(top,#0A5495,#094F8C);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#0A5495),to(#094F8C));
	background-image: -webkit-linear-gradient(top,#0A5495,#094F8C);
	background-image: -o-linear-gradient(top,#0A5495,#094F8C);
	background-image: linear-gradient(top,#0A5495,#094F8C);
}

body > footer {
	-webkit-box-shadow: 0 -1px 3px rgba(0,0,0,0.25),inset 0 1px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 -1px 3px rgba(0,0,0,0.25),inset 0 1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 -1px 3px rgba(0,0,0,0.25),inset 0 1px 0 rgba(0,0,0,0.1);
}