<% layout('layout') %>
<p>This Web application was developed as part of the W3C Staff “Geek Weeks” in 2011 and 2012.</p>
<p>The latest round of improvements were brought by:</p>
<ul>
<li>Alexandra Lavirotte</li>
<li>Dominique Hazaël-Massieux</li>
<li>Marie-Claire Forgue</li>
<li>Thomas Gambet</li>
<li>Vivien Lacourba</li>
</ul>

<p>In 2011, the following persons participated to the inital project: Carine Bournez, Thomas Gambet, Dominique Hazael-Massieux, Amy van der Hiel, Doug Schepers, Jeanne Spellman.</p>
</ul>
<p>The W3C Systems Team was also extremely helpful in getting the app up and running. Thanks in particular to Ted and Gerald!</p>

<p>This Web application runs on top of node.js; the <a href="https://github.com/dontcallmedom/w3connect/">source code is available on github</a>.</p>

<p>Feedback, including bug reports and enhancements suggestions, is welcome! You can either <a href="https://github.com/dontcallmedom/w3connect/issues">report an issue on github</a> or send a mail to Dom at <a href="mailto:dom@w3.org">dom@w3.org</a>.</p>