<p>This Web application was developed as part of the W3C Staff “Geek Week” in August. The following persons participated to the project:</p>
<ul>
<li>Carine Bournez</li>
<li>Thomas Gambet</li>
<li>Dominique Hazael-Massieux</li>
<li>Amy van der Hiel</li>
<li>Doug Schepers</li>
<li>Jeanne Spellman</li>
</ul>
<p>The W3C Systems Team was also extremely helpful in getting the app up and running. Thanks in particular to Ted and Gerald!</p>

<p>This Web application runs on top of node.js; the <a href="https://dvcs.w3.org/hg/tpac-web">source code is available</a>.</p>