<h1>TPAC Web App prototype</h1>
<ul>
<li><a href="people/">List of registrants</a></li>
<li><a href="locations/">List of places</a></li>
<li><a href="taxi/">Taxi sharing</a></li>
<li><a href="admin/">Administration</a></li>
</ul>

<p>Todo / ideas:</p>
<ul>
<li>include view of organizations, groups</li>
<li>import more data from profiles; allow to update profile?</li>
<li>Marauder’s map based on <a href="locations/">checkin</a> and hotel floor plan</li>
<li>import users schedule from WBS registration</li>
<li>allow to schedule ad-hoc meetings (picking optionally available rooms?); include werewolf games, jog</li>
<li>integrate twitter feeds; IRC log</li>
</ul>