<h1>TPAC Web App</h1>
<ul>
<li><a href="people/">Registrants</a></li>
<li><a href="locations/">Activity in the rooms</a></li>
<li><a href="schedule/">Schedule</a></li>
<li><a href="orgs/">List of represented organizations</a></li>
</ul>
<% if (typeof statusupdates != "undefined" && statusupdates && statusupdates.length > 0) { %>
<h2>Recent Activity</h2>
<div id="messages">
<% for (var s = 0; s < statusupdates.length; s++) { %>
<p class="info"><a href="/people/profile/<%= statusupdates[s].author.slug %>"><%= statusupdates[s].author.given + " " + statusupdates[s].author.family %></a>: <%= statusupdates[s].content %></p>
<% } %>
</div>
<% } %>