<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>W3Connect</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/2011/11/TPAC/live/img/h/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/2011/11/TPAC/live/img/m/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" href="/2011/11/TPAC/live/img/l/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="/2011/11/TPAC/live/img/l/apple-touch-icon.png">
  <!--<meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="apple-touch-startup-image" href="/img/l/splash.png">-->
  <meta http-equiv="cleartype" content="on">
  <link rel="stylesheet" href="/2011/11/TPAC/live/css/style.css?v=1">
  <script src="/2011/11/TPAC/live/js/libs/modernizr-custom.js"></script>
</head>

<body>

  <div id="container">
    <header>
<h1><a href="/2011/11/TPAC/live/">W3Connect</a></h1>
<p style='float:right'><% if (everyauth.loggedIn) {%>Logged in as <a href='/2011/11/TPAC/live/people/<%= user.slug %>'><%=user.login%></a>. <a href="/2011/11/TPAC/live/logout">Log out</a>?<%} else { %>Not logged in. <a href="/2011/11/TPAC/live/login">Log in</a>?<%}%></p>
<a href="/2011/11/TPAC/live/people/">People</a> | <a href="/2011/11/TPAC/live/locations/">Places</a> | <a href="/2011/11/TPAC/live/orgs/">Organizations</a>
    </header>
    <div id="main" role="main">
  <%- body %>       
    </div>
    
    <footer>

    </footer>
  </div> <!--! end of #container -->

  <script src='/2011/11/TPAC/live/js/libs/jquery-1.5.1.min.js'></script>
  <script src="/2011/11/TPAC/live/js/libs/jquery.form.js"></script>
  <!-- scripts concatenated and minified via ant build script -->
  <script src="/2011/11/TPAC/live/js/mylibs/helper.js"></script>
  <!-- end concatenated and minified scripts-->
  
  <script>
    MBP.scaleFix();
    yepnope({
      test : Modernizr.mq('(min-width)'),
      nope : ['/2011/11/TPAC/live/js/libs/respond.min.js']
    });
  </script>
  <script src="/2011/11/TPAC/live/js/mylibs/forms.js"></script>
  <!-- <script src="https://getfirebug.com/firebug-lite.js"></script> -->
  

</body>
</html>
