                <nav class="horizontal">
		  <ul class="four-piece">
		        <%- partial("nav-link.ejs", {url: url, link: "/2011/11/TPAC/live/", text: "Home", class: "first"}) %>
			<%- partial("nav-link.ejs", {url: url, link: '/2011/11/TPAC/live/people', text: 'People'}) %>
			<%- partial("nav-link.ejs", {url: url, link: '/2011/11/TPAC/live/schedule', text: "Schedule"}) %>
			<%- partial("nav-link.ejs", {url: url, link: '/2011/11/TPAC/live/locations', text: "Rooms"}) %>
		  </ul>
                </nav>
