<h1>Update place</h1>
<%- messages() %>
<form action='' method='post'>
<p><label>Name: <input name='name' value='<%= place.name %>'></label></p>
<p><input type='submit' name='placeUpdate' value='Update'></p>
</form>