<h1>Places</h1>
<p><object style="width:100%;min-height:180px; min-width:307px; max-width:725px;" type="image/svg+xml" data="/maps/main.svg#<% if (everyauth.loggedIn  && user.lastKnownPosition) {%><%= "," + user.lastKnownPosition.shortname%><% }%>">
<ul>

<% for (var p  in places) { %>
  <li style='list-style:none'><a  style='display:block; float:left; width:10em; height:50px; border:thin solid gray; border-radius:10%; margin:2px;' href='/locations/<%= places[p].shortname %>'>
<%= places[p].name %></a></li>
<% } %>
</ul>
<img src="/maps/main.png" alt="Floor plan">
</object>
</p>
<div id="messages">
</div>
<script>
if (window.EventSource) {
	  var evtSrc = new EventSource( "/locations/stream" );
	  evtSrc.onmessage = function( e ) {
	    var data = JSON.parse(e.data);
	    var info = document.createElement("p");
	    info.setAttribute("class","info");
	    info.appendChild(document.createTextNode(data.user.given + ' ' + data.user.family + ' left ' + data.left.name + ' and has checked in at ' + data.entered.name));
	    document.getElementById("messages").appendChild(info);
          };
}
</script>