<h1>Taxi pooling</h1>
<p>Looking for someone to share a taxi with? Look no further!</p>
<ul>
<li><a href="from">Sharing a taxi <strong>from the airport</strong> to the hotel</a></li>
<li><a href="to">Sharing a taxi from the hotel <strong>to the airport</strong></li>
</ul>
