<h1>Add an event</h1>
<% if (user) { %>
<%- messages() %>
<form action='#add' method='post' class="form-horizontal">
	<fieldset>
		<!--<legend>Add an ad-hoc event</legend>-->
		<%- partial('schedule/addEvent.ejs', {places: places}) %>
	</fieldset>
</form>
<% } else { %>
<p><a href="<%= baseurl %>/login?redirectTo=<%= url %>">Log in to add an event</a></p>
<% } %>
