<%- messages()%>
<h2>Schedule</h2>
<form action='' method='post'>
<p><label>URI of JSON schedule: <input type="url" name="schedule"></label></p>
<p><input type="submit" name="updateSchedule"></p>
</form>

<h2>Events</h2>
<h3>Add new event</h3>
<form action='' method='post'>
<%- partial('schedule/addEvent.ejs') %>
</form>

<h3>Update existing event</h3>
<p>Pick the event you want to edit:</p>
<dl id="accordion" class="list-accordion">
<%- partial("schedule/full-schedule.ejs", {days: days, timeslots: timeslots, schedule:schedule, expanded: expanded}) %>
</dl>