<ul class="eventList <%= (typeof className != "undefined" && className ? className: "") %>">
<% for (var e in eventList) {%>
    <li class="event"><%- partial('schedule/event-desc.ejs', {event: eventList[e], interestMarker:true}) %></li>
<% } %>
</ul>
